.container {
  padding: 0 2rem;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.csvLink {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: white;
  background-color: #6495EDFF;
  border-radius: 10px;
  padding: 10px 30px;
  margin-top: 10px;
  text-decoration: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
}

.csvLink:hover {
  background-color: #5b87d9;
}